html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: #f8ffe5;
}
